Source: cview
Section: admin
Priority: optional
Maintainer: Evan Felix <karcaw@gmail.com>
Build-Depends: cmake (>=2.8.12), cdbs (>= 0.4.15), debhelper (>= 4.1.16), freeglut3-dev, libmagickwand-dev, libgraphicsmagick1-dev, gobjc, libgnustep-base-dev, libftgl-dev, libgenders0-dev, doxygen, libxmu-dev, libanttweakbar-dev, libxi-dev, libmagickwand-6-headers
Standards-Version: 0.1

Package: cview
Architecture: any
Depends: ${shlibs:Depends}, libcview0
Description: cview executable
 cview is the cluster viewing tool used at PNL to view large data sets of
 clustered systems.

Package: cviewall
Architecture: any
Depends: ${shlibs:Depends}, libcview0
Description: cview executable
 cview is the cluster viewing tool used at PNL to view large data sets of
 clustered systems.

Package: libcview0
Architecture: any
Depends: ${shlibs:Depends}
Description: cview libraries
 cview is the cluster viewing tool used at PNL to view large data sets of
 clustered systems.
 .
 This package contains the libcview library.

Package: libcview-dev
Architecture: any
Depends: ${shlibs:Depends}
Description: cview libraries
 cview is the cluster viewing tool used at PNL to view large data sets of
 clustered systems.
 .
 This package contains the libcview development files.

Package: libcview-data0
Architecture: any
Depends: ${shlibs:Depends}
Description: cview data management libraries
 cview is the cluster viewing tool used at PNL to view large data sets of
 clustered systems.
 .
 This package contains the libcview-data library.

Package: libcview-data-dev
Architecture: any
Depends: ${shlibs:Depends}
Description: cview data management libraries
 cview is the cluster viewing tool used at PNL to view large data sets of
 clustered systems.
 .
 This package contains header files for developing with the libcview-data package

